/* Reset */
@import url("./global.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font: var(--find-a-ride-header-style); */
}

/* Container */
.login-container {
  font: var(--find-a-ride-header-style);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  /* background: #f0f4f8; */
  padding: 32px;
  border-radius: 12px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); */
  min-height: 75vh;
  min-width: 60vw;
  gap: 4rem;
}
/* .login-input-block > .find-a-ride-input:hover,
.find-a-ride-input:hover input,
.find-a-ride-input input:hover {
  background: rgb(255, 255, 255);
  border: 1px solid black;
} */
/* Header */
.login-header h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  /* margin-bottom: 1rem; */
  margin-bottom: 24px;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}
/* Inputs Block */
.login-input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 320px;
}

/* Submit Container */
.login-submit {
  margin-top: 16px;
  width: 100%;
}
.login-btn {
  border-radius: 16px !important;
  height: 48px !important;
  width: 93px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 24px !important;
  letter-spacing: 1px !important; */
}
.loader {
  border: 2px solid #fefefe;
  border-top: 2px solid rgb(208, 205, 205);
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  animation: spin 0.6s linear infinite;
  margin-left: 8px; /* space between text and spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-btn-inside {
  border-radius: 16px !important;
  height: 48px !important;
  width: 93px !important;
}
.login-input-block > div {
  /* border: 2px solid black; Your custom hover effect */
  border-radius: 16px;
  background-color: white;
}
/* Submit Button */
.login-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: none; */
  height: 48px;
  background: linear-gradient(135deg, #00bcd4, #2196f3);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  transition: all 0.25s ease;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-size: 16px;
  border-radius: 16px;
}

.login-submit-button:hover {
  background: linear-gradient(135deg, #2196f3, #00bcd4);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.login-input {
  background-color: rgba(240, 240, 240, 0.986) !important;
  /* border: 2px solid #00bcd4 !important; */
}
.login-input:has(input:focus) {
  border: 3px solid #00bcd4 !important;
}
