@import url(./global.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 600 16px / 20px "Roboto", sans-serif;
}
.new-logo {
  height: 1.2rem;
  width: 1.2rem;
}
.new-logo-cont {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex: 1;
  gap: 0.8rem;
  margin-left: 1.1rem;
}
.new-logo-cont > h2 {
  margin: 0;
}
.navbar-css {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 75px;
  padding: 10px 10px;
  background-color: #ffffff;
  width: 100vw;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* .logo {
  width: 100px;
  height: 75px;
  height: auto;
} */
.search-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-flex {
  display: flex;
  align-items: center;
  flex: 1;
}
/* .new-logo-cont h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font: var(--find-a-ride-header-style);
} */
.nav-search a {
  text-decoration: none;
  /* color: #002760; */
  font-size: 30px;
}

.nav-logo {
  width: 20px;
  height: 20px;
  stroke: #333;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.nav-logo-new {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-wrapper {
  /* background: #a8cbd3; */
  border-radius: 10px;
  padding: 7px 2px 3px 7px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-wrapper.hide-dropdown {
  max-height: 0;
  opacity: 0;
  pointer-events: none; /* prevents interaction while hidden */
  transform: translateY(-20%);
}
.dropdown-wrapper {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  top: 65px;
  right: 0;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 0 20px 34px rgba(0, 0, 0, 0.436);
  /* opacity: 1;
  transition: opacity 0.2s ease-in-out; */
  /* max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;*/
  /* pointer-events: none; */
  max-height: 500px; /* enough to show all content */
  opacity: 1;
  overflow: hidden;
  transition: transform 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
  z-index: 100;
  transform: translateY(0);
}
.dropdown-overlay {
  position: fixed;
  top: 65px; /* below navbar */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  z-index: 99; /* below dropdown (which is z-index: 100) */
  transition: opacity 0.3s ease;
}

/* .dropdown-wrapper.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
} */
.list-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1.9rem;
  width: 27.4rem;
  height: 3.7rem;
  /* padding: 0; */
  /* flex: 1; */
  align-items: center;
  list-style-type: none;
  color: #000000;
  /* padding: 10px 200px; */
  font: "Poppins", sans-serif;
  transition: background 0.3s ease;
}

.list-item span {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex: 1;
}
.list-item svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item:first-child {
  padding: 0 1rem;
  transition: background 0.3s ease;
}
.list-item:hover {
  background-color: #ededed;
  color: #000000;
}
.pos-relative {
  position: relative;
}
/* .profile-wrapper:hover {
  background-color: #e0f2f1;
} */
.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 1.8vw;
}
@media (width< 769px) {
  .navbar-css {
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .new-logo-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
  .profile-wrapper {
    display: none;
  }
  .nav-search .search-flex {
    display: none;
  }
  .new-logo-cont h2 {
    display: none;
  }
  .nav-logo {
    margin: 0;
  }
  .nav-search {
    margin: 0;
  }
  .open-sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: inherit;
    color: #000000;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    /* padding: 10px 20px; */
    font-size: 1.8rem;
    font-weight: 500;

    /* outline: none; */
  }
  .close-sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: inherit;
    color: #000000;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    /* padding: 10px 20px; */
    font-size: 2.5rem;
    font-weight: 500;

    /* outline: none; */
  }
}
