.overlayContainer {
  height: 100vh;
  width: 100vw;
  border: 2px dashed red;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.2rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
