@import url(./global.css);

body {
  font-family: var(--find-a-ride-header-font);
}

.find-a-ride-header h1 {
  margin: 0;
  padding: 20px;
  font-size: 2rem;
  font: var(--find-a-ride-header-style);
}
::placeholder {
  font-family: var(--find-a-ride-header-font);
  font-weight: 500;
}
.find-a-ride {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 56px; */
}
hr {
  color: rgba(237, 237, 237, 1);
  border: 0 solid rgba(211, 211, 211, 0);
  border-left: 1px solid;
  width: 1px;
  height: 32px;
  flex: none;
  margin: auto 0;
}

.find-a-ride-header {
  display: flex;
  align-content: center;
  justify-content: center;
}
.find-a-ride-container,
.form {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
}

.find-a-ride-input {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 13px;
  margin: 2px;
  width: 240px;
}
.find-a-ride-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  height: 100%;
  background: hsla(197, 100%, 48%, 1);
  color: hsla(0, 0%, 100%, 1);
  font: var(--find-a-ride-header-font);
  width: 200px;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.find-a-ride-submit:hover {
  background: #008ec2;
  color: #fff;
}
.find-a-ride-input input {
  width: 100%;
  padding: 10px;
  border: none !important;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.find-a-ride-input input:focus {
  outline: none;
  /* outline: 0px solid transparent; */
}
.find-a-ride-input:hover,
.find-a-ride-input:hover input,
.find-a-ride-input input:hover {
  background-color: rgba(240, 240, 240, 0.986);
}
.find-a-ride-input-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.form {
  box-shadow: 4px 5px 18px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 30px;
  width: 90vw;
}

@media (width< 769px) {
  .form {
    flex-direction: column;
    width: 90vw;
    /* padding: 10px; */
  }

  .form input {
    width: 100%;
    height: 50px;
    background-color: inherit;
  }

  .form hr {
    width: 80vw;
    height: 1px;
    background-color: rgba(237, 237, 237, 1);
    border: none;
    margin: 0 auto;
  }

  .find-a-ride-input {
    width: 100%;
    padding: 10px 20px;
  }

  .find-a-ride-input:hover {
    width: 98.8%;
  }
  /* ✅ Critical styles */
  .submit-container {
    width: 100%;
    display: flex;
  }

  .find-a-ride-submit {
    flex: 1;
    width: 100% !important; /* Force full width */
    height: 56px;
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
  }
}
